<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944392932458-ep080qvcuafvs3jheoi74vcu2v946gae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944392932458-ep080qvcuafvs3jheoi74vcu2v946gae</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944392932458-6or2l32gbg0eg16d4856u1djpfk0tbbp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWy6tnt5qy2-R3FjLeLbHb77Qn47spnGE</string>
	<key>GCM_SENDER_ID</key>
	<string>944392932458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techpro.lexyapp</string>
	<key>PROJECT_ID</key>
	<string>lexyapp-dcb15</string>
	<key>STORAGE_BUCKET</key>
	<string>lexyapp-dcb15.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944392932458:ios:5beb2c2c1c6ea6aadf4e13</string>
</dict>
</plist>